.login-box {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);
    box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);
}

.logo {
    width: 100%;
    max-width: 250px;
    margin: 10px 0 20px 0;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 10px;
}

input[type="checkbox"] {
    display: inline-block;
    margin-top: 6px;
    text-align: left;
}

.form-check-label {
    display: block;
    text-align: left;
    padding-left: 20px;
}

.error-message {
    padding: 20px;
    color: #fff;
    margin: -20px -20px 20px -20px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b1f21+0,ef2f33+50,c06c84+100 */
    background: #9b1f21; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #9b1f21 0%, #ef2f33 50%, #c06c84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #9b1f21 0%,#ef2f33 50%,#c06c84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #9b1f21 0%,#ef2f33 50%,#c06c84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b1f21', endColorstr='#c06c84',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
 * Correctly vertical align center
 */
.center-wrapper {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#355c7d+0,6c5b7b+50,c06c84+100 */
    background: #355c7d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #355c7d 0%, #7b585d 50%, #c06c84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#355c7d', endColorstr='#c06c84', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    height: 100vh;
    text-align: center;
    border: #a0a0a0 solid 1px;
    overflow: visible;
}

.center-wrapper::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
}