body {
    min-height: 100vh;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#355c7d+0,6c5b7b+50,c06c84+100 */
    background: #355c7d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#355c7d', endColorstr='#c06c84', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.content-wrapper {
    margin: 20px 0 0 0;
}

.content-wrapper > h1 {
    color: #fff;
}

.content-card {
    margin-top: 20px;
    padding: 20px;

    -webkit-box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);
    box-shadow: 0 10px 14px -5px rgba(0, 0, 0, .3);

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+50,f2f2f2+100&0.9+0,0.7+100 */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 242, 0.8) 50%, rgba(242, 242, 242, 0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 242, 0.8) 50%, rgba(242, 242, 242, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(242, 242, 242, 0.8) 50%, rgba(242, 242, 242, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3f2f2f2', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.bg-gradient {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#355c7d+0,6c5b7b+50,c06c84+100 */
    background: #355c7d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #355c7d 0%, #6c5b7b 50%, #c06c84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#355c7d', endColorstr='#c06c84', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

/*Navbar*/
.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-logo {
    max-width: 150px;
}

table thead tr td {
    font-weight: bold;
}